<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>[[${car.name}]] &ndash; AutoSell</title>
</head>
<body>

<a data-th-href="@{/autosell/cars}">&larr; назад </a>

<h1 data-th-text="${car.name}"></h1>

<ul>
    <li> <strong>ID</strong>: <span data-th-text="${car.id}"></span></li>
    <li> <strong>Марка</strong>: <span data-th-text="${car.name}"></span></li>
    <li> <strong>Описание</strong>: <span data-th-text="${car.description}"></span></li>
    <li> <strong>Цена</strong>: <span data-th-text="${car.price}"></span></li>
</ul>

<br>
<a data-th-href="@{/autosell/cars/{carId}/edit(carId=${car.id})}">Редактировать </a>
<br>
<form data-th-method="post" data-th-action="@{/autosell/cars/{carId}/delete(carId=${car.id})}">
    <button type = "submit" >Удалить</button>
</form>
</body>
</html>