<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование авто &laquo;[[${car.name}]]&raquo; &ndash; AutoSell</title>
</head>
<body>

<a data-th-href="@{/autosell/cars/{carId}(carId=${car.id})}">&larr; Назад к авто </a>

<h2 data-th-if="${errors}">Ошибка при вводе данных</h2>
<ul>
    <li style="color:red" data-th-each="error : ${errors}" data-th-text="${error}"></li>
</ul>

<h1>Редактирование карточки &ndash; &laquo;[[${car.name}]]&raquo;</h1>
<form method="post" data-th-action="@{/autosell/cars/{carId}/edit(carId=${car.id})}">
    <label>
        Марка автомобиля:<br>
        <input type="text" name="name" data-th-value="${payload != null ? payload.name : car.name}">
    </label><br>

    <label>
        Описание автомобиля:<br>
        <textarea name="description" data-th-text="${payload != null ? payload.description : car.description}"></textarea>
    </label><br>

    <label>
        Цена автомобиля:<br>
        <input type="number" name="price" data-th-value="${payload != null ? payload.price : car.price}">
    </label><br>
    <button type="submit">Изменить</button>
</form>

</body>
</html>